:root {
    --color-principal: #eeff56;
    --color-fondo: #ffffff;
    --color-notes: #CAD96B;
    --color-layout-notes: #F1F1F1;
    --color-selected-note: rgba(231, 231, 231, 0.79);
    --color-transparent: transparent;
    --color-text: black;
}

/* generel styles */

html {
    font-size: 10px;

}

body {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    color: var(--color-text);
}

.layout {
    position: relative;
    min-width: 80%;
    width: 80%;
    height: 80%;
    min-height: 30vh;
    margin: 0 auto;

    display: grid;
    grid-template-areas: "aside notes_creator";
    grid-template-columns: 25% 70%;

    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, .30);

}

.layout__aside {
    grid-area: aside;
    background-color: var(--color-principal);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    height: 40rem;
    
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.layout__note-editor {
    grid-area: notes_creator;
    background-color: var(--color-principal);
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 4rem;
    height: 100%;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.1);

}

.note-editor {
    background-color: var(--color-layout-notes);
    height: 100%;
    border-radius: 4rem;
    flex-direction: column;
    display: flex;
    padding-left: 3rem;
    padding-top: 3rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.note-editor__text, .note-editor__body:focus{
    background-color: var(--color-transparent);
    border: none;
    outline: none;
}

.note-editor__body {
    background-color: var(--color-transparent);
    border: none;
    height: 90%;
}

.note-editor__body:focus {
    outline: none;
}



.aside__note {
    display: flex;
    flex-direction: column;
    background-color: var(--color-notes);
    width: 95%;
    height: 85px;
    margin-top: 11px;
    margin: 11px auto;
    border-radius: 3rem;
    background: rgba(55, 55, 55, 0.19);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    overflow-x: hidden;
    padding-left: 20px;
    padding-top: 9px;
    font-size: 1.8rem;
    overflow: hidden;
}

.aside__note:hover {
    background-color: var(--color-selected-note);
    box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.25);
}


.card-logo__img {
    display: block;
    margin: 0 auto;
    width: 26%;
}

.footer__info {
    margin-top: 3rem;
    bottom: 2rem;
    text-align: center;
    width: auto;
}






/* prubas en CSS */

.conteiner {
    width: 100%;
    background-color: aqua;
    height: 700px;
}