:root {
    --color-principal: #eeff56;
    --color-fondo: #ffffff;
    --color-notes: #CAD96B;
    --color-layout-notes: rgba(209, 229, 223, 0.688);
    --color-selected-note: rgba(231, 231, 231, 0.79);
    --color-transparent: transparent;
    --color-text: black;
}

/* generel styles */

html {
    font-size: 10px;

}

body {
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    color: var(--color-text);
}

.layout {
    position: relative;
    min-width: 80%;
    width: 80%;
    height: 80%;
    min-height: 30vh;
    margin: 0 auto;

    display: grid;
    grid-template-areas: "aside notes_creator";
    grid-template-columns: 25% 70%;

    border-radius: 4rem;
    box-shadow: 0 0 100px rgba(0, 0, 0, .30);

}

.layout__aside {
    grid-area: aside;
    background-color: var(--color-principal);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    height: 50rem;
    overflow: auto;
    overflow-x: hidden;
}

.layout__note-editor {
    grid-area: notes_creator;
    background-color: var(--color-layout-notes);
}

.aside__note {
    display: flex;
    flex-direction: column;
    background-color: var(--color-notes);
    width: 95%;
    height: 85px;
    margin-top: 11px;
    margin: 11px auto;
    border-radius: 3rem;
    background: rgba(55, 55, 55, 0.19);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    overflow-x: hidden;
    padding-left: 20px;
    padding-top: 9px;
    font-size: 1.8rem;
    overflow: hidden;
}

.card-logo__img {
    display: block;
    margin: 0 auto;
    width: 26%;
}

.footer__info {
    text-align: center;
    margin-top: 3rem;
}

.layout__tools .tools__menu img {
    width: 60%;
}